<% layout("layout/boilerplate") %>

<div class="row">


    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3 col-md-6 offset-md-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" placeholder="0.0" aria-label="price-label" id="price"
                        aria-describedby="price-label" name="campground[price]" required>
                </div>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="10"
                    required></textarea>
                <div class="valid-feedback">Looks good</div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Upload images</label>
                <input class="form-control" name="image" type="file" id="formFileMultiple" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Add campground</button>
            </div>
        </form>
        <a href="/campgrounds">Back to campgrounds</a>
    </div>
</div>